* {
    margin: 0;
    padding: 0;
  }
  a {
    text-decoration: none;
    display: inline-block;
  }
  ul {
    text-decoration: none;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    padding: 0;
  }
  /* nav part start */
  .main {
    position: absolute;
    width: 100%;
    z-index: 999;
    background-color: #1c1e53;
  }
  .main ul li a {
    padding-left: 32px !important;
    color: #bbbbcb !important;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
  }
  .main ul li .active,
  .main ul li a:hover {
    color: #fff !important;
  }
  .nav-btn {
    padding: 16px 32px;
    border-radius: 41px;
    border: 1px solid rgba(244, 246, 252, 1);
    margin-left: 48px;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}
  .nav-btn:hover{
    background-color: #fcd980;
  }
  .nav-btn a {
    color: var(--White, #fff);
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}
.nav-btn a:hover{
  color: #1B1C2B;
}
/* nav part end */
/* What we created part start */
#create{
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: #F4F6FC;
}
.create_text{
  text-align: center;
  width: 100%;
}
.create_text h6{
  padding-top: 100px;
  color: var(--Dark-blue, #282938);
  opacity: 0.7;
/* Body 2 */
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 28px; /* 175% */
padding-top: 120px;
}
.create_text h4{
  width: 504px;
  color: var(--Dark-blue, #282938);
  text-align: center;
  margin-left: 379px;
/* Heading 2 */
font-family: Poppins;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: 64px; /* 133.333% */
margin-top: 4px;
}
.create_text p{
  width: 733px;
  color: var(--Dark-blue, #282938);
  text-align: center;
  opacity: 0.7;
/* Body 2 */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 175% */
  margin-left: 293px;
  margin-top: 24px;
}
.social-links-1 i{
  color: black ;
margin: 28px 10px;
}
/* What we created part end */
/* middle list start */
.mid_list ul li {
  display: flex;
  padding-top: 96px;
  padding-bottom: 48px;
  margin-left: 400px;
}
.mid_list ul li a{
 color: var(--Dark-blue, #282938);
 opacity: 0.7;
 margin-left: 32px;
 /*Label01*/font-family: Poppins;
 font-size: 18px;
 font-style: normal;
 font-weight: 400;
 line-height: 32px;
 /*177.778%*/transition: all 1s;
 align-items: center;
}
.mid_list ul li a:hover{
  color: #2203e8;
}
/* middle list end */
/* template part start */
.temp_text{
  margin-left: 28px;
}
.temp_text h3{
  color: var(--Dark-blue, #282938);
  padding-top: 24px;
  /* Heading 3 */
  font-family: Poppins;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px; /* 147.368% */
} 
.temp_text p{
  color: var(--Dark-blue, #282938);
text-align: justify;
 opacity: 0.7;
/* Body 1 */
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 175% */
padding-top: 12px;
}
.temp_text a{
  color: var(--Dark-blue, #282938);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 24px */
padding-top: 24px;
}
.temp_text i{
  width: 24px;
  color: #1B1C2B;
  margin-left: 15px;
  margin-bottom: 74px;
}
/* template part end */
/* Let's build something part start  */
#great{
  padding-top: 128px;
  padding-bottom: 128px;
}
.great_text{
  text-align: center;
}
.great_text h2{
  width: 730px;
  color: var(--Dark-blue, #282938);
/* Heading 2 */
font-family: Poppins;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: 64px; /* 133.333% */
align-items: center;
margin-left: 250px;
}
.great_text p{
  width: 562px;
  margin-left: 335px;
align-items: center;
opacity: 0.7;
/* Body 2 */
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 175% */
margin-top: 18px;
}
.box_btn{
  margin-top: 79px;
  margin-left: 76px;
}
.box_btn .button-1{
  margin-left: 395px;
}
.button-1{
  display: flex;
  width: 254px;
  height: 64px;
  padding: 15px 51px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 41px;
  background-color: #1b1c2b;
  color: #fff;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  /*177.778%*/transition: all 1s ;
}
.button-1:hover{
  color: #1b1c2b;
background: var(--Yellow, #FCD980);
}
/* Let's build something part end */
/* footer part start */
#footer{
  padding-top: 100px;
  background: #1C1E53;
}
.footer_left p{
  width: 399px;
  color: var(--White, #FFF);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 28px; /* 175% */
opacity: 0.8;
margin-top: 22px;
}
.footer_bottom{
  background: var(--Yellow, #FCD980);
  display: flex;
  margin-top: 86px;
}
.bottom_left{
  margin-left: 37px;
}
.bottom_left h5{
  color: var(--Dark-blue, #282938);
font-family: Poppins;
margin-top: 18px;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 32px; /* 177.778% */
}
.bottom_left a{
color: var(--Dark-blue, #282938);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 175% */
opacity: 0.8;
margin-bottom: 16px;
}
.bottom_right{
  margin-left: 29px;
}
.bottom_right h5{
  width: 66px;
  color: var(--Dark-blue, #282938);
  margin-top: 18px;
/* Label 01 */
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 32px; /* 177.778% */
}
.bottom_right a{
  color: var(--Dark-blue, #282938);
  opacity: 0.8;
/* Body 1 */
margin-bottom: 16px;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 175% */
}
.footer_right h3{
  width: 333px;
  color: #FFF;
font-family: Poppins;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: 64px; /* 133.333% */

}
.footer_right p{
  color: var(--Grey, #F4F6FC);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 175% */
opacity: 0.8;
margin-top: 14px;
}
.social-links i{
color: #FFF;
margin: 28px 10px;
}
/* footer part end */
/* bottom menu part start */
.bellow_text{
  padding-top: 32px;
  padding-bottom: 32px;
}
.bellow_text h5{
  color: var(--Dark-blue, #282938);

/* Body 2 */
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 28px; /* 175% */
}
.menu_bottom{
  padding-top: 32px;
  padding-bottom: 32px;
}
.menu_bottom ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}
.menu_bottom ul li a{
  color: var(--Dark-blue, #282938);

/* Body 2 */
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 28px; /* 175% */
margin-left: 18px;
}
/* bottom menu part end */
